<!-- views/profile.ejs -->
<!doctype html>
<html>
<%- include('../header'); %>
<body>
<div class="container">

    <%- include('../logout'); %>
    <form action="/water_reports/create" method="post">
        <div class="row">
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-12">
                <table class="table table-bordered table-hover" id="waterReports">
                    <thead>
                    <tr >
                        <th class="text-center">ID</th>
                        <th class="text-center">Sản phẩm</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Nhận</th>
                        <th class="text-center">Còn</th>
                        <th class="text-center">Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(products) { products.forEach(function(product, key) { %>
                    <tr id='addr0'>
                        <td class="text-center"><%= key + 1%></td>
                        <td class="text-center" disable>
                            <%= product.name %>
                        </td>
                        <td class="text-center" disable id="price">
                            <%= product.price %>
                        </td>
                        <td class="text-center">
                            <% if(input_water) { input_water.forEach(function(value, key) { if(value.product_id === product.id) { %> 
                                <input type="number" id="before" required="required" class="form-control col-md-7 col-xs-12" name="before" value="<%= value.number_approve%>" disabled>
                            <% }})} else { %> 
                                <input type="number" id="before" required="required" class="form-control col-md-7 col-xs-12" name="before" disabled>
                            <% } %>
                        </td>
                        <td class="text-center">
                            <input type="number" id="after" required="required" class="form-control col-md-7 col-xs-12" name="products['<%= product.id %>']">
                        </td>
                        <td class="text-center" id="sumRow"></td>
                    </tr>
                    <% })}   %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-hover" id="finalWaterReports">
                    <thead>
                    <tr >
                        <th class="text-center">Tiền giờ</th>
                        <th class="text-center">Dịch vụ</th>
                        <th class="text-center">Tổng thu</th>
                        <th class="text-center">Thực thu</th>
                        <th class="text-center">Thâm</th>
                        <th class="text-center">Dư</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr id='addr0'>
                            <td class="text-center" id>
                                <input type="number" id="hours" required="required" class="form-control" name="hours">
                            </td>
                            <td class="text-center">
                                <input type="number" id="service" required="required" class="form-control" name="service" readonly>
                            </td>
                            <td class="text-center">
                                <input type="number" id="total" required="required" class="form-control" name="total" readonly>
                            </td>
                            <td class="text-center">
                                <input type="number" id="final" required="required" class="form-control" name="final">
                            </td>
                            <td class="text-center">
                                <input type="number" id="lose" required="required" class="form-control" name="lose" readonly>
                            </td>
                            <td class="text-center">
                                <input type="number" id="balance" required="required" class="form-control" name="balance" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="6">
                                <textarea name="comment" class="form-control" id="comment" cols="30" rows="10" placeholder="mô tả bữa ni trừ những tiền gì..."></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-info" onclick="return confirm('Ban co chac chan Bao cao ?')"> Báo cáo </button>
            
        </div>
    </form>
</div>
</body>
<script src="/public/js/totalTables.js"></script>
<script src="/public/js/formAddRows.js"></script>
</html>
