<!-- views/profile.ejs -->
<!doctype html>
<html>
<%- include('../header'); %>
<body>
<div class="container">

    <%- include('../logout'); %>

    <div class="row">
        <table class="table table-bordered table-hover" id="finalWaterReports">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên nước</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Người gữi</th>
                    <th class="text-center">Ngày gữi</th>
                    
                </tr>
            </thead>
            <tbody>
                <% if(inputWater) { inputWater.forEach(function(value, key) { %>
                <tr>
                    <td class="text-center">
                        <%= key + 1 %>
                    </td>
                    <td class="text-center" disable>
                        <%= value.product_name %>
                    </td>
                    <td class="text-center">
                        <%= value.number %>
                    </td>
                    <td class="text-center">
                        <%= value.username %>
                    </td>
                    <td class="text-center">
                        <%= moment(value.created_date).format('HH:mm DD-MM-YY') %>
                    </td>
                </tr>
                <% })}%>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="/public/js/totalTables.js"></script>
<script src="/public/js/formAddRows.js"></script>
</html>
